.userControl_table{
    border-collapse: collapse;
    table-layout: fixed;
    border: none;
}

.userControl_table thead tr th{
    background-color: #505050;
    color: white;
    font-weight: 400;
    border: 1px solid #a6a6a6;
    font-size: 16px;

}
.userControl_table thead tr td{
    text-align: center;
    font-weight: 400;
    border: none;
    font-size: 14px;
    padding: 10px 5px;
}
.userControl_table thead tr{
    border-bottom: 1px solid #b7b7b7;
}
.userControl_table thead tr:last-child{
    border: none;
}

.userControl_img{
    width: 70px;
    border-radius: 50px;
}
.userControl_noImg{
    width: 40px;
    height: 40px;
    padding: 15px;
    border-radius: 50px;
    background-color: #a9a9a9;
    color: #505050;
}
.userControl_button_delete{
    margin: 5px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50px;
    font-size: 18px;
    color: #f53333;
}
.userControl_button_delete:hover {
    background-color: #d3d3d3;
}